@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
html,
body {
  font-family: 'Text Me One', sans-serif;
}

.nv-itm {
  font-weight: 600;
  color: #3B89C9;
  font-size: 20px;
}

.nv-itm:hover {
  color: #3B89C9;
}

.bg {
  background-image: url(/img/gradient1.svg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-position: right;
  position: relative;
}

.hero-image {
  position: absolute;
  right: 29px;
  top: -145px;
  height: 100%;
}

.hero1 {
  letter-spacing: 3px;
  font-size: 20px;
}

.hero3 {
  letter-spacing: 3px;
  font-size: 30px;
}

.hero2 {
  font-weight: 800;
  color: #3C59A8;
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grad {
  background: #0e13f9;
  background: radial-gradient(circle, #0e13f9 0%, #3cd7e7 100%);
  background-size: 300%;
  -webkit-animation: grad-anim 4s infinite alternate ease-in-out;
          animation: grad-anim 4s infinite alternate ease-in-out;
}

@-webkit-keyframes grad-anim {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes grad-anim {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.stat-head {
  text-align: center;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#1d879e), color-stop(79%, #00d2ff));
  background: linear-gradient(90deg, #1d879e 0%, #00d2ff 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stat {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  margin: 20px 16px;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#02309a), color-stop(79%, #00d2ff));
  background: linear-gradient(90deg, #02309a 0%, #00d2ff 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .5;
}

.icon:nth-child(1) {
  margin-left: 0;
}

.icon:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#02309a), color-stop(79%, #00d2ff));
  background: linear-gradient(180deg, #02309a 0%, #00d2ff 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

.work-btn {
  background: #0e13f9;
  background: radial-gradient(circle, #0e13f9 0%, #3cd7e7 100%);
  height: 60px;
  width: 230px;
  font-weight: 300;
  font-size: 25px;
  font-weight: 800;
  color: antiquewhite;
  border: 0;
  border-radius: 5px;
  margin-top: 18px;
  text-transform: uppercase;
  background-size: 300%;
  background-position: right;
  -webkit-transition: background-position .5s;
  transition: background-position .5s;
}

.work-btn-2 {
  background: #0e13f9;
  background: radial-gradient(circle, #0e13f9 0%, #3cd7e7 100%);
  height: 40px;
  width: 150px;
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  color: antiquewhite;
  border: 0;
  border-radius: 5px;
  margin-top: 18px;
  text-transform: uppercase;
  background-size: 300%;
  background-position: right;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}

.work-btn:hover,
.work-btn-2:hover,
.work-btn:focus,
.work-btn-2:focus {
  background-position: left;
}

.me {
  background-image: url(/img/gradient4.svg);
  background-repeat: no-repeat;
  overflow: hidden;
  height: 600px;
  position: relative;
}

.me-img {
  height: 550px;
  position: absolute;
  bottom: 2px;
  left: 86px;
}

.hl {
  border: 5px solid #3B89C9;
  border-radius: 3px;
  width: 150px;
  opacity: 1;
}

.hl2 {
  border: 2px solid transparent;
  border-radius: 3px;
  width: 150px;
  background-color: #3B89C9;
  opacity: 1;
  padding-left: 60px;
}

.abt1 {
  letter-spacing: 5px;
  font-size: larger;
}

.abt2 {
  font-weight: 600;
  font-size: 55px;
  color: #3C59A8;
}

.ser {
  background-color: #ebebeb;
  padding: 50px 30px 30px 30px;
}

.ser:hover {
  background-color: #42aaff;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.ser:hover > .hl2 {
  border: 2px solid whitesmoke;
}

.ser a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.ser h3 {
  margin: 20px 20px;
}

.client {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.rev1 {
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
}

.rev2 {
  font-weight: 600;
  color: #3C59A8;
  font-size: 55px;
}

.rev h3 {
  font-weight: 600;
  color: #000000;
}

.rev p {
  font-weight: 600;
  font-size: large;
  color: #000000;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #971212;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.star {
  margin-right: 10px;
  color: #e49936;
  font-size: 20px;
}

.overlay {
  visibility: hidden;
}

.short_info {
  visibility: hidden;
}

.p-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.post {
  overflow: hidden;
}

.l-img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .7s;
  transition: .7s;
}

.p-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-stat p {
  font-style: 30px;
}
/*# sourceMappingURL=custom.css.map */